@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: #fff;
  word-spacing: 3px;
  line-height: 1.2;
  letter-spacing: 0.3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

li {
  list-style-type: none; }
  li:hover {
    color: #fff;
    background: #2a2a2c;
    cursor: pointer; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    color: #fff; }

.wrapper {
  background: blanchedalmond; }

.container {
  position: relative; }

.main-header {
  display: block; }
  .main-header .main-header-menu {
    width: 100%;
    height: 60px;
    background: #d1d188; }
    .main-header .main-header-menu .main-header-ul {
      display: inline-flex;
      justify-items: center; }
      .main-header .main-header-menu .main-header-ul h2 {
        padding: 15px 0 15px 15px;
        font-size: 1.5em; }
    .main-header .main-header-menu .nav-toggle {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 10;
      padding: 10px 35px 16px 0px; }
      .main-header .main-header-menu .nav-toggle span,
      .main-header .main-header-menu .nav-toggle span:before,
      .main-header .main-header-menu .nav-toggle span:after {
        content: '';
        display: block;
        position: absolute;
        width: 35px;
        height: 5px;
        background: #fff;
        border-radius: 1px;
        transition: all 0.5s; }
      .main-header .main-header-menu .nav-toggle span:before {
        top: -10px; }
      .main-header .main-header-menu .nav-toggle span:after {
        bottom: -10px; }
      .main-header .main-header-menu .nav-toggle.active span {
        background: transparent; }
      .main-header .main-header-menu .nav-toggle.active span:before,
      .main-header .main-header-menu .nav-toggle.active span:after {
        top: 0; }
      .main-header .main-header-menu .nav-toggle.active span:before {
        transform: rotate(45deg); }
      .main-header .main-header-menu .nav-toggle.active span:after {
        top: 10px;
        transform: translateY(-10px) rotate(-45deg); }

.main-nav {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  background: turquoise;
  z-index: 1; }
  .main-nav .main-nav-header {
    height: 80px; }
    .main-nav .main-nav-header h3 {
      color: #354435;
      font-size: 1.2em;
      padding: 10px; }
  .main-nav .main-nav-container li {
    display: flex;
    justify-content: flex-start;
    align-content: center; }
    .main-nav .main-nav-container li a {
      text-align: left;
      display: inline-block; }
    .main-nav .main-nav-container li span {
      padding: 0 10px; }
  .main-nav .main-nav-container .split-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527); }
    .main-nav .main-nav-container .split-li .main-nav-spans {
      background: rgba(50, 177, 164, 0.561);
      margin-left: auto;
      padding: 10px 20px;
      font-size: 1.7em;
      max-height: 45px; }
  .main-nav .main-nav-container .no-arrow-li {
    padding: 15px 0;
    max-height: 45px; }

.sub-nav-toggle {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 90%;
  z-index: 2; }

.admin-nav-toggle {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 90%;
  z-index: 2; }

.sub-nav {
  background: #003e62;
  z-index: 20; }
  .sub-nav .sub-nav-icons {
    margin-left: auto;
    padding: 10px 18px;
    font-size: 1.7em;
    max-height: 45px; }
  .sub-nav .sub-nav-ul .split-li {
    background: #354435; }
  .sub-nav .sub-nav-ul li {
    background: #354435;
    padding: 15px 18px;
    font-size: 1.1em;
    max-height: 45px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527); }
    .sub-nav .sub-nav-ul li:hover {
      background: gray; }
  .sub-nav .sub-first-nav-li {
    padding: 15px 10px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527); }
