/* Enter and leave animations can use different */
/* durations and timing functions.              */
@import url("https://fonts.googleapis.com/css?family=Lato");
.slide-fade-enter-active {
  transition: all 0.3s ease; }

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0; }

.active {
  opacity: 1; }

.subNavActive {
  transform: translateY(180); }

.slide-right-enter-active {
  transition: all 0.3s ease; }

.slide-right-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-right-enter,
.slide-right-leave-to {
  transform: translateX(20px);
  opacity: 0; }

html,
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: #fff;
  word-spacing: 3px;
  line-height: 1.2;
  letter-spacing: 0.3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

li {
  list-style-type: none; }
  li:hover {
    color: #fff;
    background: #2a2a2c;
    cursor: pointer; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    color: #fff; }

.wrapper {
  background: blanchedalmond; }

.home-page {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 4em 0;
  z-index: -1;
  background: cadetblue; }
  .home-page h1 {
    font-size: 1.6em;
    margin-bottom: 0.7em; }
  .home-page h4 {
    font-size: 1.1em; }

.container {
  position: relative; }

.main-header {
  display: block; }
  .main-header .main-header-menu {
    width: 100%;
    height: 60px;
    background: #313033; }
    .main-header .main-header-menu .main-header-ul {
      position: relative; }
      .main-header .main-header-menu .main-header-ul h2 {
        padding: 15px 0 15px 15px;
        font-size: 1.5em; }

.nav-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  padding: 10px 35px 16px 0px; }
  .nav-toggle span,
  .nav-toggle span:before,
  .nav-toggle span:after {
    content: '';
    display: block;
    position: absolute;
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 1px;
    transition: all 0.4s; }
  .nav-toggle span:before {
    top: -10px; }
  .nav-toggle span:after {
    bottom: -10px; }
  .nav-toggle.active span {
    background: transparent; }
  .nav-toggle.active span:before,
  .nav-toggle.active span:after {
    top: 0; }
  .nav-toggle.active span:before {
    transform: rotate(45deg); }
  .nav-toggle.active span:after {
    top: 10px;
    transform: translateY(-10px) rotate(-45deg); }

.active {
  opacity: 1; }

.main-nav {
  position: absolute;
  width: 100vw;
  background: turquoise;
  z-index: 1; }
  .main-nav .main-nav-header {
    height: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/plane.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px; }
    .main-nav .main-nav-header h3 {
      color: #fff;
      font-size: 1.2em;
      padding: 10px; }
  .main-nav .main-nav-container {
    min-height: 100vh;
    position: relative; }
    .main-nav .main-nav-container li {
      display: flex;
      justify-content: flex-start;
      align-content: center; }
      .main-nav .main-nav-container li a {
        text-align: left;
        display: inline-block; }
      .main-nav .main-nav-container li span {
        padding: 0 10px; }
    .main-nav .main-nav-container .split-li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid rgba(128, 128, 128, 0.527); }
      .main-nav .main-nav-container .split-li .main-nav-spans {
        background: rgba(50, 177, 164, 0.561);
        margin-left: auto;
        padding: 10px 20px;
        font-size: 1.7em;
        max-height: 45px; }
    .main-nav .main-nav-container .no-arrow-li {
      padding: 15px 0;
      max-height: 45px; }

.sub-nav-toggle {
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  min-height: 100%;
  width: 90%;
  z-index: 2; }

.admin-nav-toggle {
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  min-height: 100%;
  width: 90%;
  z-index: 2; }

.sub-nav {
  background: #003e62; }
  .sub-nav .sub-nav-icons {
    margin-left: auto;
    padding: 10px 18px;
    font-size: 1.7em;
    max-height: 45px; }
  .sub-nav .sub-nav-ul .split-li {
    background: #354435; }
  .sub-nav .sub-nav-ul li {
    background: #354435;
    padding: 15px 18px;
    font-size: 1.1em;
    max-height: 45px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527); }
    .sub-nav .sub-nav-ul li:hover {
      background: gray; }
  .sub-nav .sub-first-nav-li {
    padding: 15px 10px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527); }
