// main nav animations below
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-100%);
  // opacity: 0.7;
}
.active {
  opacity: 1;
}
// safety ul animations below
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-right-leave-to,
.slide-right-enter {
  transform: translateX(100%);
  // opacity: 1;
}

// reporting ul animations below
.rep-nav-enter-active,
.rep-nav-leave-active {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.rep-nav-leave-to,
.rep-nav-enter {
  transform: translateY(-20%);
  opacity: 0;
}

ul li {
  text-align: center;
  transition: margin-left 0.3s linear, font-weight 0.2s linear,
    color 0.3s linear;
  -webkit-transition: margin-left 0.3s linear, font-weight 0.2s linear,
    color 0.3s linear;
}

ul li:hover {
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer;
}
a:hover {
  // margin-left: 20px;
  font-weight: 600;
  // color: #add8e6;
}
