@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
// font-family: 'Lato', sans-serif;
// font-family:paytone one;

html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  color: #fff;
  word-spacing: 3px;
  line-height: 1.2;
  letter-spacing: 0.3;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: paytone one;
}
li {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2em;
  &:hover {
    color: #fff;
    background: #2a2a2c;
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  &:hover {
    color: #fff;
  }
}
.wrapper {
  background: blanchedalmond;
  // position: relative;
}

.home-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  z-index: -1;
  background: #d66d75; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e29587,
    #fa9ea5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e29587,
    #fa9ea5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //   display: none;
  h1 {
    font-size: 2em;
    margin-bottom: 0.7em;
  }
  h4 {
    font-size: 1.2em;
  }
}
.container {
  position: relative;
}
