@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Paytone+One');
// font-family: 'Lato', sans-serif;
// font-family:paytone one;

html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  word-spacing: 3px;
  line-height: 1.2;
  letter-spacing: 0.3;
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: paytone one;
}
li {
  list-style-type: none;
  font-weight: 500;
  font-size: 1.2em;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
// .wrapper {
//   background: #9cecfb; /* fallback for old browsers */
//   background: -webkit-linear-gradient(
//     to right,
//     #0052d4,
//     #65c7f7,
//     #9cecfb
//   ); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(
//     to right,
//     #0052d4,
//     #65c7f7,
//     #9cecfb
//   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

.home-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  z-index: 1;
  background: #9cecfb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0052d4,
    #65c7f7,
    #9cecfb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //   display: none;
  h1 {
    font-size: 2em;
    margin-bottom: 0.7em;
  }
  h4 {
    font-size: 1.2em;
  }
}
.container {
  position: relative;
}
#logo {
  max-width: 100px;
  padding: 15px;
}

.styles-background {
  position: relative;
  overflow: hidden;
  .dots {
    position: fixed;

    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    z-index: 0;
  }
  .dotOne {
    top: 500px;
    left: -320px;
  }
  .dotTwo {
    top: 0px;
    right: -300px;
  }
}
