.main-nav {
  position: absolute;
  width: 100vw;
  background: turquoise;
  z-index: 1;
  .main-nav-header {
    height: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../img/plane.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;

    h3 {
      color: #fff;
      font-size: 1.2em;
      padding: 10px;
    }
  }
  .main-nav-container {
    min-height: 100vh;
    position: relative;
    li {
      display: flex;
      justify-content: flex-start;
      align-content: center;

      a {
        text-align: left;
        display: inline-block;
      }
      span {
        padding: 0 10px;
      }
    }

    .split-li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid rgba(128, 128, 128, 0.527);
      .main-nav-spans {
        background: rgba(50, 177, 164, 0.561);
        margin-left: auto;
        padding: 10px 20px;
        font-size: 1.7em;
        max-height: 45px;
      }
    }
    .no-arrow-li {
      padding: 15px 0;
      max-height: 45px;
    }
  }
}

// Sub Nav Style
.saf-nav-toggle {
  // display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  min-height: 100%;
  width: 90%;
  z-index: 2;
}
.admin-nav-toggle {
  // display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  min-height: 100%;
  width: 90%;
  z-index: 2;
}
.sub-nav {
  background: rgb(0, 62, 98);

  .sub-nav-icons {
    margin-left: auto;
    padding: 10px 18px;
    font-size: 1.7em;
    max-height: 45px;
  }
  .sub-nav-ul {
    .split-li {
      background: #354435;
    }
    li {
      background: #354435;
      padding: 15px 18px;
      font-size: 1.1em;
      max-height: 45px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.527);
      &:hover {
        background: gray;
      }
    }
  }
  .sub-first-nav-li {
    padding: 15px 10px;
    max-height: 45px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
  }
}
